// Insert your styles here, using LESS

body {
    background-image: url("https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/10422071_1532517227035975_5953709268737394168_n.jpg?oh=2157bf705e7dd65e1e28739ff9fb3b5a&oe=5B07CDF7");
    .container {
      width:768px;
      margin: 0 auto;
      background-color: gray;
    }
}
